<!doctype html>
<html>
<head>
    <title>Spell Study Guide</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body class="<%= user.local.userType %>">
<div class="container">

    <div class="page-header text-center">
        <h1 class="guide">Spell Study Guide</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

      <button class="get-spell" type="submit">Learn A Spell</button>
        <div class="col-sm-6 spell-container">
          <ul class="spell-list">
          <% for(var i=0; i<spells.length; i++) {%>
            <li class="spells">
              <h3 class="spellName"><%= spells[i].name %></h3>
              <p class="spellDescription"><%= spells[i].description %></p>
              <span class="wands"><%= spells[i].wand %></span>
              <span><i class="fa-solid fa-wand-sparkles"></i></span>
              <span><i class="fa-solid <%=spells[i].pinned ? 'fa-thumbtack-slash' : 'fa-thumbtack' %> pinned"></i></span>
              <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
            </li>
          <% } %>
          </ul>


          
        </div>
        

</div>

<script src="https://kit.fontawesome.com/27754e0c49.js" crossorigin="anonymous"></script>
<script src="main.js"></script>

</body>
</html>
